<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="listenIpAddress" value="127.0.0.1"/>
		<add key="listenPort" value="6000"/>

		<add key="connectionsBacklogSize" value="10" /> <!--TODO-->
		<add key="maxClientConnections" value="10" /> <!--TODO-->
		
	</appSettings>
</configuration>